#root {
  max-width: 1280px;
  max-height:1280px;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
  background-color: rgb(133, 163, 250);
  border-radius: 5em;
}



button {
  margin: 10px;
  background-color: rgb(249, 194, 249)!important;
  color:rgb(0, 0, 0) !important;

}

input {
  width: 100%;
  height: 100%;
  padding: 1em; 
  border-radius: 10px;
  border: 2px  solid rgb(224, 13, 161);
}

.Icon img {
  width: 100px;
  height: 100px; 
}
