.header{
  font-size: 3.5rem;
  display: flex;
  justify-content: space-evenly;
}
.app-container {
  display: flex; 
  justify-content: space-evenly;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculations */
  background-color: rgb(109, 137, 207);
  border-width: 2rem; 
  border-style: solid; 
  border-color: aliceblue; 

.contacts-section,
.create-contact-section,
.view-contact-section {
  flex: 1; 
  margin: 0 10px; 
}

