.postCard {
  position: relative; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  background: url('./PostCard.png') no-repeat center center;
  background-size: cover;   
  width: 750px;
  height: 550px;
}

.image-container {
  position: absolute; /* Fill the parent container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Ensures it stretches to all edges */
}

.image-container img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}
.blogEntrie {
  position: relative; 
  width: 50%; /* Take half of the container */
  padding: 2em; 
  overflow: hidden; /* Prevent content from overflowing */
  max-height: 300px;
  box-sizing: border-box; /* Include padding in the width calculation */
  font-size: 1rem;
  box-sizing: border-box; /* Include padding in width calculation */

}

