
header h1 {
    font-family: "Onest", sans-serif;
    font-size: 2.5em; 
    font-weight: bold;
    letter-spacing: 0.1em; 
    line-height: 1.2; 
    margin: 0;
}

/* header button */
.header-buttons {
    justify-content: bottom; 
    /*background-color: #c7dcf3;*/
    color: #c7dcf3;
}

.header-buttons i {
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle;
    line-height: inherit;
}

.header-buttons:hover {
    background-color: rgb(166, 179, 236); /* Darker shade on hover */
}

/* Body*/

body {
    margin: 0;
    padding: 3;
    background-image: linear-gradient(180deg, #A4BBE7, #C49AD7, white);
    font-family: "Onest", sans-serif; 
    font-size: 1.5em; /* Body font size */
    font-weight: 350; /* Less bold text */
    letter-spacing: 0.05em;
    font-style: normal;
}

.paragraph {
    font-family: "IBM Plex Mono", monospace;
    font-size: .85em;
    background-color:#282C34; 
    color: white; 
    width: 600px; 
    height: 400px; 
    border-radius: 5%;
    padding: 2em 3em; /*text padding*/
    line-height: inherit;
    display: block;
    margin-left: 6em;
    
}

.text{
    font-size: .7em;
    vertical-align: middle;
    line-height: inherit;
    margin-top: 4em;
    padding: 2em 4em;
    background-color: white;
    border: 2px solid  rgb(0, 113, 219);
}

.blue {
    color: rgb(0, 113, 219);
}

header,
footer {
    background-color: white;
    color: Black;
    text-align: center;
    padding: 1em 3em ;
    border: 2px solid  rgb(34, 134, 227);
}

/* Main styling*/

main {
    padding: 3em;
}

.image-container{
    width: 75%; 
    margin-bottom: 20px;
    text-align: right;
}

/* Text Box Area */

.formRow {
    width: 100%;
    display: flex;
    margin-top: 2em;
    margin-left: 3.5em;
}


.input-container {
    width:100%; 
    margin-bottom: 20px;
    font-size: 1em;
    border-radius: 50%;
}

label {
    display: block;
    margin-bottom: 1px;  
}

input, textarea{
    width: 100%; 
    padding: 8px; 
    border: 1px solid #A4BBE7; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

button{
    margin-top: 1px;
    font-size: 1em; 
    background-color: #A4BBE7;
    border-radius: 4px; 
}

/* image */

.circle-image {
    display: inline-block;
    width: 400px; 
    height: 400px; 
    border-radius: 5%;
    border: 2px solid  rgb(0, 113, 219);
    object-fit: cover; 
    margin-left: 4em;
}


.end-image{
    display: inline-block;
    margin-top: 1em;
    width: 500px; 
    height: 500px; 
    border-radius: 5%;
    border: 2px solid  rgb(0, 113, 219);
    object-fit: cover; 
    margin-left: 2em;
}

.end-image-font{
    display: block; 
    margin-top: 1em;
    font-size: .5em; 
    text-align: center;
}

/* Media Queries*/ 

/* Small Screens*/
@media (max-width: 600px) {
    .circle-image{
        margin-left: .5em;
    }
    .paragraph{
        
       
        font-size: .8em;
        width: 400px; 
        height:450px;
        margin-left: .5em;
    }

    .text {
        width: 500px;
        margin-right: 10em;
        margin-left: 0;
        line-height: normal; 
        vertical-align: baseline;
    }

    .formRow {
        width: 100%;
        display: block;
        margin-top: 2em;
        margin-left: 1em;
    }

    .end-image{
        display: block;
        margin-top: 1.5em;
        width: 250px; 
        height: 250px; 
        margin-left: 1.2em;
    }
    
}