.form-events {
    max-width: 100%; 
    margin: 10px ; 
    padding: 20px; 
    background-color: rgb(174, 215, 252);
    border-radius: 10px;
    height: 350px;
}

.Event-Date {
    margin-bottom: 10px;
}

.Event-Name {
    margin-bottom: 10px;
}
button[type="button"] {
    background-color: #dc6a6a;
    border-color: #2407ff;
    color: white;
  }

.custom-button{
    background-color: #6169d3;
    border-color: #2407ff;
    color: white;
    margin: 10px;
}